@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;

    --header-height: 82px;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
 
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;

    --header-height: 82px;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* ------ MDEditor ------ */
/* Edit */
.w-md-editor-text-pre > code,
.w-md-editor-text-input {
  font-size: 18px !important;
  line-height: 24px !important;
}
/* Preview */
.wmde-markdown {
  font-size: 18px !important;
  line-height: 24px !important;
}

/* Edit and Preview Background + Preview Text Color */
.w-md-editor-content {
  background: hsl(var(--background)); 
  color: hsl(var(--foreground));
}

/* Toolbar */
.w-md-editor-toolbar {
  background: hsl(var(--primary)) !important;
  height: 35px !important;
}

.w-md-editor-toolbar > ul > li > button{
  color: hsl(var(--primary-foreground)) !important;
}

.w-md-editor-toolbar > ul > li > button > svg{
  width: 16px !important;
  height: 16px !important;
}

.w-md-editor-toolbar li > button {
  height: 29px !important;
}

/* Edit Text */
/*###, -----, -  */
.w-md-editor-text-pre .punctuation {
  color:  hsl(var(--muted-foreground)) !important;
}

/*[link](http:\\sfdfsd)*/
.w-md-editor-text-pre  .token.url, .token.content {
  color: hsl(var(--foreground)) !important;
}

/* After the ### */
.w-md-editor-text-pre .token.title.important {
  color: hsl(var(--foreground)) !important;
}

/* Other text */
.w-md-editor-text-input, .w-md-editor-text-pre>code {
  color: hsl(var(--foreground)) !important;
}